body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container{
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(204, 87, 136); 
}
.header{
    border: 1px solid rgb(6, 40, 71);
    height: 400px;
    text-align: center;
    line-height: 30px;

}
.main{
    display: flex;
    justify-content: space-between;
    height: auto;
    
}
.main .left{
    text-align: center;
    border: 1px solid rgb(239, 1, 1);
    width: 70%;            
    margin-top:5px;
    margin-bottom: 5px;
    

}
.main .right{
    text-align: center;
    border: 1px solid rgb(47, 143, 59);
    width: 30%;      
    margin-top:5px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;

}
